<h1>Login za delegata!</h1>
<form method="POST" action="/login_delegat">
  <div>Username: <input name="username" /></div>
  <div>Password: <input name="password" /></div>
  <div><button type="submit">Login</button></div>
</form>